.about {
  background-color:  rgba(29, 96, 134, 0.6);
  display: flex;
  margin: 5%;
  width: 70%;
  min-height: 300px;
  align-items: center;
  border-radius: 10px;
}

.about-img {
  display: flex;
  align-items: center;
}

.desc {
  width: 60%;
  font-size: 15px;
}

.about-img img {
  justify-self: flex-start;
  height: 250px;
  margin: 20px;
  border-radius: 20px;
}

.social {
  display: flex;
  flex-direction: column;
}

.social p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
}

.about .back {
  align-self: flex-start;
  margin: 10px 30px;
}
