.hardskills {
  background-color: rgba(29, 96, 134, 0.6);
  margin: 5%;
  width: 70%;
  min-height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.hardskills .back {
  margin: 10px;
}

.hardskills-cards {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}