@media (min-width: 450px) and (max-width: 700px) {
  .header {
    padding: 5px;
    font-size: 15px;
  }

  .nav-header a {
    margin-left: 5px;
    margin-right: 5px;
  }

  .home, .about, .hardskills, .contact {
    min-height: 400px;
  }

  .p-tag, .complement {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .home-name {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .about {
    font-size: 20px;
  }

  .about-img {
    flex-direction: column;
    text-align: center;
  }

  .desc {
    margin-bottom: 20px;
  }

  .hardskills .card {
    margin: 10px;
    min-height: 100px;
    padding: 20px;
  }

  .hardskills .icon {
    font-size: 40px;
  }

  .hardskills .title {
    display: none;
  }
}

@media (max-width: 450px) {
  .header {
    font-size:12px ;
  }

  .nav-header a {
    margin-left: 3px;
    margin-right: 3px;
  }

  .home, .about, .hardskills, .contact {
    min-height: 400px;
  }

  .home .p-tag,.home .complement {
    font-size: 15px;
    margin: 15px;
    margin-bottom: 15px;
  }

  .home .home-name {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .about {
    font-size: 15px;
  }

  .about-img {
    flex-direction: column;
    text-align: center;
  }
  .desc {
    margin-bottom: 15px;
  }

  .hardskills .card {
    margin: 10px;
    min-height: 100px;
    padding: 15px;
  }

  .hardskills .icon {
    font-size: 35px;
  }

  .hardskills .title {
    display: none;
  }

  .contact .contact-icon {
    font-size: 50px;
  }
}