* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/src/CSS/17545.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
}

.header {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.back {
  margin-top: 5%;
}

.back a {
  text-decoration: none;
  color: white;
}

.nav-header {
  display: flex;
  justify-content: space-evenly;
}

.header a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.main {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
