* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/src/CSS/17545.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
}

.header {
  padding: 10px;
  width: 100%;
  display: flex;
  align-content: flex-end;
}

.back {
  margin-top: 5%;
}

.back a {
  text-decoration: none;
  color: white;
}

.nav-header {
  width: 50%;
}

.header a {
  text-decoration: none;
  color: white;
}

.main {
  padding: 5%;
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
